apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ app_name }}"
  namespace: "{{ gitops_operator_namespace }}"
spec:
  destination:
    namespace: "{{ app_namespace }}"
    server: https://kubernetes.default.svc
  project: "{{ app_name }}"
  source:
    path: environments/dev
    repoURL: http://{{ r_gogs_route.resources[0].spec.host }}/gogs/{{ app_name }}-config
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
