kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: teste
  namespace: gogs
subjects:
  - kind: ServiceAccount
    name: pipeline
    namespace:  sm-pipeline
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin