apiVersion: v1
kind: Secret
metadata:
  name: argocd-env-secret
  namespace: quarkus-hello-pipeline
type: Opaque
data:
  ARGOCD_USERNAME: admin
  ARGOCD_PASSWORD: {{ r_argopass.resources[0].data['admin.password'] }}
