---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ item }}"
#---
#apiVersion: v1
#kind: Namespace
#metadata:
#  name: "dev-{{ app_name }}"
#---
#apiVersion: v1
#kind: Namespace
#metadata:
#  name: "hml-{{ app_name }}"
#---
#apiVersion: v1
#kind: Namespace
#metadata:
#  name: "{{ app_name }}"
#
#
