apiVersion: triggers.tekton.dev/v1
kind: Trigger
metadata:
  name: trigger
  namespace: "{{ app_namespace }}"
spec:
  taskRunTemplate:
    serviceAccountName: pipeline
  bindings:
    - ref: repo-triggerbinding
  template:
    ref: repo-triggertemplate