apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: webhook
  namespace: "{{ app_namespace }}"
spec:
  serviceAccountName: pipeline
  triggers:
    - triggerRef: repo-trigger

