apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: "{{ pipeline_namespace }}"
  namespace: "{{ pipeline_namespace }}"
spec:
  params:
    - default: 'https://github.com/fctassinari/quarkus-hello.git'
      name: APP_SOURCE_GIT
      type: string
    - default: main
      name: APP_SOURCE_REVISION
      type: string
    - default: latest
      description: The application image tag to build
      name: APP_IMAGE_TAG
      type: string
    - default: 'https://github.com/fctassinari/quarkus-hello-config.git'
      description: The application manifests git repository
      name: APP_MANIFESTS_GIT
      type: string
  tasks:
    - name: git-clone
      params:
        - name: url
          value: $(params.APP_SOURCE_GIT)
        - name: revision
          value: $(params.APP_SOURCE_REVISION)
        - name: refspec
          value: ''
        - name: submodules
          value: 'true'
        - name: depth
          value: '0'
        - name: sslVerify
          value: 'true'
        - name: crtFileName
          value: ca-bundle.crt
        - name: subdirectory
          value: quarkus-hello
        - name: sparseCheckoutDirectories
          value: ''
        - name: deleteExisting
          value: 'true'
        - name: httpProxy
          value: ''
        - name: httpsProxy
          value: ''
        - name: noProxy
          value: ''
        - name: verbose
          value: 'true'
        - name: gitInitImage
          value: 'registry.redhat.io/openshift-pipelines/pipelines-git-init-rhel8@sha256:868966ef9d4b54952d8a74eb83bba40eb1f52c0148994fa704efd0e3797c61c5'
        - name: userHome
          value: /home/git
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: workspace
    - name: unit-tests
      params:
        - name: GOALS
          value:
            - package
            - '-f'
            - quarkus-hello
      runAfter:
        - git-clone
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: code-analysis
      params:
        - name: GOALS
          value:
            - install
            - 'sonar:sonar'
            - '-f'
            - quarkus-hello
            - '-Dsonar.host.url=https://sonarqube-"{{ pipeline_namespace }}".apps.cluster-8g6jh.dynamic.redhatworkshops.io/'
            - '-Dsonar.userHome=/tmp/sonar'
            - '-Dsonar.login=4eca82ea102da858362830b04463b02502943e50'
            - '-DskipTests=true'
      runAfter:
        - git-clone
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: dependency-report
      params:
        - name: SOURCE_DIR
          value: quarkus-hello
      runAfter:
        - git-clone
      taskRef:
        kind: Task
        name: dependency-report
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: release-app
      params:
        - name: GOALS
          value:
            - deploy
            - '-f'
            - quarkus-hello
            - '-DskipTests=true'
            - '-DaltDeploymentRepository=nexus::default::http://nexus.apps.cluster-8g6jh.dynamic.redhatworkshops.io/repository/mvn-release/'
      runAfter:
        - code-analysis
        - unit-tests
        - dependency-report
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: build-image
      params:
        - name: TLSVERIFY
          value: 'false'
        - name: MAVEN_MIRROR_URL
          value: 'http://nexus.apps.cluster-8g6jh.dynamic.redhatworkshops.io/repository/maven-public/'
        - name: PATH_CONTEXT
          value: quarkus-hello/target
        - name: IMAGE_NAME
          value: 'image-registry.openshift-image-registry.svc:5000/$(context.pipelineRun.namespace)/quarkus-hello'
        - name: IMAGE_TAG
          value: $(params.APP_IMAGE_TAG)
      runAfter:
        - release-app
      taskRef:
        kind: Task
        name: s2i-java-21
      workspaces:
        - name: source
          workspace: workspace
    - name: image-scan
      params:
        - name: image
          value: 'image-registry.openshift-image-registry.svc:5000/$(context.pipelineRun.namespace)/quarkus-hello:latest'
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: output_format
          value: table
        - name: image_digest
          value: $(tasks.build-image.results.IMAGE_DIGEST)
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-image-scan
    - name: image-check
      params:
        - name: image
          value: 'image-registry.openshift-image-registry.svc:5000/$(context.pipelineRun.namespace)/quarkus-hello:latest'
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: image_digest
          value: $(tasks.build-image.results.IMAGE_DIGEST)
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-image-check
    - name: deploy-check
      params:
        - name: GIT_REPOSITORY
          value: $(params.APP_MANIFESTS_GIT)
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: file
          value: deployment.yaml
        - name: deployment_files_path
          value: app
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-deployment-check
      workspaces:
        - name: workspace
          workspace: workspace
    - name: update-deployment
      params:
        - name: GIT_REPOSITORY
          value: $(params.APP_MANIFESTS_GIT)
        - name: GIT_USERNAME
          value: gogs
        - name: GIT_PASSWORD
          value: gogs
        - name: CURRENT_IMAGE
          value: 'image-registry.openshift-image-registry.svc:5000/$(context.pipelineRun.namespace)/quarkus-hello:latest'
        - name: NEW_IMAGE
          value: 'image-registry.openshift-image-registry.svc:5000/$(context.pipelineRun.namespace)/quarkus-hello'
        - name: NEW_DIGEST
          value: $(tasks.build-image.results.IMAGE_DIGEST)
        - name: KUSTOMIZATION_PATH
          value: environments/dev
      runAfter:
        - image-scan
        - image-check
        - deploy-check
      taskRef:
        kind: Task
        name: git-update-deployment
  workspaces:
    - name: maven-settings
    - name: workspace
