  - kind: ConfigMap
    apiVersion: v1
    metadata:
      name: cm-gogs-config
      namespace: "{{ gogs_namespace }}"
      labels:
        app: gogs
    data:
      app.ini: |
        RUN_MODE = prod
        RUN_USER = git
        
        [database]
        TYPE  = postgres
        HOST     = gogs-postgresql:5432
        NAME     = gogs
        USER     = gogs
        PASSWORD = gogs
        
