apiVersion: v1
kind: Namespace
metadata:
  name:  "{{ gitops-operator_namespace }}"
#---
#apiVersion: v1
#kind: Namespace
#metadata:
#  name:  "{{ pipeline_namespace }}"
#---
#apiVersion: v1
#kind: Namespace
#metadata:
#  name: "{{ app_namespace }}"
#---
