apiVersion: v1
kind: Namespace
metadata:
  name:  "{{ gogs_namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ sonar_namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ nexus_namespace }}"
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ reports_namespace }}"
---
